{% extends "base_pages/base.html" %}

{% block title %} Python from Net Pit - Home Page {% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>
        Python from .NET Pit
    </h1>
    <p>
        Hi, fellas! Its my private python practice web application with Django usage!
    </p>
    <p>
        This project is using Bootstrap, Backbone, Jquery, Less and Underscore under the hood.
    </p>
    <p>
        <a href="/admin/" class="btn btn-primary btn-large">Let's Admin »</a>
    </p>
</div>

{% endblock %}